ion-title,
ion-back-button {
    color: rgb(51, 51, 51);
}

ion-title {
    font-size: 20px;
}
ion-item{
    border-bottom: 1px solid var(--ion-color-medium);
    margin-bottom: 10px;
    ion-textarea{
        min-height: 100px;
      }

    ion-checkbox {
        --checkbox-background-checked: rgb(120, 156, 21);
        --border-color-checked: rgb(120, 156, 21);
      }
      
  }
  ion-button{
    margin-top: 50px ;
    --background: rgb(50, 65, 27);
    margin-bottom: 20px;

  }
  .another-error {
    text-align: center;
  }
 