<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Головна
    </ion-title>
  </ion-toolbar>

  <ion-fab  vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button>
      <ion-icon name="log-out-outline"></ion-icon>

    </ion-fab-button>
    <div class="list-items">
      <ion-fab-list side="bottom">
        <ion-item (click)="logout()">
          <ion-label>Вийти</ion-label>
        </ion-item>
      </ion-fab-list>
    </div>
  </ion-fab>
</ion-header>

<ion-content [fullscreen]="true">
<div class="searchbar">
  <ion-searchbar (ionInput)="handleInput($event)"></ion-searchbar>
</div>
  <div class="card" *ngFor="let item of filteredRecipes">
    <div class="card-content" [routerLink]="item.id">
      <div class="img">
        <img src="{{item.image_url}}" alt="{{item.name}}" (error)="replaceImageOnError(item)">
      </div>
      <div class="title" >
        <p>{{item.name}}</p>
      </div>
    </div>
  </div>
</ion-content>